<h1>Questions</h1>

<p>
  <%= link_to 'New_question', new_test_question_path %>
</p>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @test.questions %>
</table>

<br>
<%= link_to 'Back to tests', tests_path %>