<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= image_tag "#{badge.image}", width: 80, height: 80 %></td>
  <td class="align-middle"><%= show_rule(badge) %></td>
</tr>
