<table>
  <tr>
    <th><%= I18n.t('test_passages.gist.question') %></th>
    <th><%= I18n.t('test_passages.gist.link') %></th>
    <th><%= I18n.t('test_passages.gist.creator') %></th>
  </tr>

  <%= render @gists %>
</table>
