<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
<% result = result_in_percents(@test_passage) %>
<% if result >= 85 %>
  <p>Success! Your result: <span style="color:green"><%= result %>%</span></p>
<% else %>
  <p>Failure! Your result: <span style="color:red"><%= result %>%</span></p>
<% end %>

<%= link_to 'Back to tests', tests_path %>