<br>
<p>
  <%= current_year %>.<br>
  <%= github_url('JuicyLucfier','TestNeGuru') %><br>
  Описание: Приложение для администрирования и прохождения тестов.<br>
  Учебный проект в онлайн-школе <a href = 'http://thinknetica.com' rel = "nofollow" target = "_blank">Thinknetica</a>.
</p>
